{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Gérer le bien {{ immos.title }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer le bien {{ immos.title }}</h1>

    </div>
{% endblock %}